.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 40px 20px;
}

.wrapper {
    padding: 40px 0;
}

.topBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 20px 10px;
}

.filterButton {
    padding: 6px 12px;
    font-size: 0.8rem;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color: #5c7aea;
    transition: background-color 0.2s ease;
}

.uploadButton {
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    background-color: #5c7aea;
    transition: background-color 0.2s ease;
    font-family: var(--title-font);
}

.filterButton.active {
    background-color: #aaa;
}

.listWrap {
    display: flex;
    justify-content: space-between;
}

.list {
    display: flex;
    flex-direction: column;
    width: 900px;
    /* border: 1px solid #eee; */
    align-content: flex-start;
    justify-content: flex-start;
    gap: 40px;
    /* padding: 20px; */
}