.card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex: 0 0 calc(25% - 15px); */
    height: 500px;
    min-height: 300px;
    color: #f1f1f1;
}

@media (max-width: 1024px) {
    .card {
        flex: 0 0 calc(33.33% - 14px);
    }
}

@media (max-width: 768px) {
    .card {
        flex: 0 0 calc(50% - 10px);
    }
}

@media (max-width: 560px) {
    .card {
        flex: 0 0 100% !important;
    }
}

.link {
    display: block;
    padding: 20px;
    width: 100%;
    height: 100%;
    position: relative;
}

.image {
    width: 110%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    object-fit: cover;
    height: auto;
    border-radius: 20px;
}

.info {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
}

.info .top {
    display: flex;
    justify-content: space-between;
}

.info .top .teamImg {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    background-color: var(--main-color);
}

.info .top .right {
    display: flex;
    gap: 20px;
}

.info .top .right p {
    width: 120px;
    height: 40px;
    border-radius: 100px;
    background: radial-gradient(513.91% 50% at 50% 50%, rgba(100, 101, 102, 0.40) 0%, rgba(190, 192, 194, 0.60) 100%);
    background-blend-mode: plus-lighter;
    backdrop-filter: blur(0.25em) brightness(1.2) saturate(1.2);
    box-shadow:
        0 0.1em 0.25em 0 oklch(0 0 0 / 15%),
        0 0 1em 0 oklch(0 0 0 / 12.5%),
        inset 0.075em 0.075em 0.025em 0 oklch(1 0 0 / 20%),
        inset 0.15em 0.15em 0.1em 0 oklch(1 0 0 / 10%),
        inset -0.075em -0.075em 0.025em 0 oklch(1 0 0 / 20%),
        inset -0.15em -0.15em 0.1em 0 oklch(1 0 0 / 10%),
        inset 0 0 3em .5em oklch(0 0 0 / 20%);
    display: flex;
    align-items: center;
    padding-left: 10%;
    gap: 5px;
    font-family: var(--title-font);
    font-size: 20px;
}

.info .bot {
    width: 100%;
    height: 60px;
    padding-inline: 30px;
    border-radius: 100px;
    background: radial-gradient(513.91% 50% at 50% 50%, rgba(100, 101, 102, 0.40) 0%, rgba(190, 192, 194, 0.60) 100%);
    background-blend-mode: plus-lighter;
    backdrop-filter: blur(0.25em) brightness(1.2) saturate(1.2);
    box-shadow:
        0 0.1em 0.25em 0 oklch(0 0 0 / 15%),
        0 0 1em 0 oklch(0 0 0 / 12.5%),
        inset 0.075em 0.075em 0.025em 0 oklch(1 0 0 / 20%),
        inset 0.15em 0.15em 0.1em 0 oklch(1 0 0 / 10%),
        inset -0.075em -0.075em 0.025em 0 oklch(1 0 0 / 20%),
        inset -0.15em -0.15em 0.1em 0 oklch(1 0 0 / 10%),
        inset 0 0 3em .5em oklch(0 0 0 / 20%);
    display: flex;
    align-items: center;
}

.title {
    font-size: 25px;
    font-weight: 300;
}

.description {
    font-size: 0.9rem;
    /* color: #555; */
    margin-bottom: 8px;
}

.likes {
    /* color: #888; */
}

.comments {
    /* color: #888; */
}

/* .all {
    background-color: #fff;
    color: #000;
}

.doosan {
    background-color: #1A1748;
}

.kia {
    background-color: #EA0029;
}

.lg {
    background-color: #C30452;
}

.kiwoon {
    background-color: #570514;
}

.kt {
    background-color: #000000;
}

.hanwha {
    background-color: #FC4E00;
}

.nc {
    background-color: #315288;
}

.ssg {
    background-color: #CE0E2D;
}

.samsung {
    background-color: #074CA1;
}

.lotte {
    background-color: #041E42;
} */