/* 공통 레이아웃 */
:root {
  --main-color: #F26949;
  --bg-light-color: #ECEAD5;
  --bg-dark-color: #2D2D2D;
  --sub-color: #29BDBF;
  --sub-color-2: #023047;
  --font-color-1: #F1F1F1;
  --title-font: 'Spoqa Han Sans Neo', 'sans-serif';
  --eng-font: "Bebas Neue", sans-serif;
  --main-font: "Pretendard", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark-color);
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.inner {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}

.layout header {
  /* border-bottom: 1px solid #eee; */
  background: rgba(255, 255, 255, 0.10);
  background-blend-mode: plus-lighter;
  backdrop-filter: blur(0.25em) brightness(1.2) saturate(1.2);
  box-shadow:
    0 0.1em 0.25em 0 oklch(0 0 0 / 15%),
    0 0 1em 0 oklch(0 0 0 / 12.5%),
    inset -0.075em -0.075em 0.025em 0 oklch(1 0 0 / 40%),
    inset -0.15em -0.15em 0.1em 0 oklch(1 0 0 / 30%),
    inset 0 0 3em .5em oklch(0 0 0 / 20%);
  font-size: 1.1rem;
  width: 100vw;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
}

.placeholder {
  height: 80px;
  width: 100%;
  margin-bottom: 90px;
}

.layout main {
  flex: 1;

}

.layout footer {
  width: 100%;
  text-align: center;
  padding-block: 64px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--title-font);
  color: #fff;
}

.layout footer .f_top {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-bottom: 32px;
}

.layout footer .f_top a {
  font-size: 20px;
  font-weight: 500;
}

.layout footer .f_bot {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
  gap: 20px;
}

.layout footer .f_bot li {
  width: 32px;
  cursor: pointer;
}

.layout footer .f_bot li img {
  width: 100%;
}

.layout footer p {
  font-size: 18px;
}

/* 반응형 레이아웃 */
@media (max-width: 768px) {
  .inner {
    padding: 0 16px;
  }
}

@media (max-width:450px) {
  .layout header {
    font-size: 1rem;
    white-space: nowrap;
    height: 46px;
  }
}